*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ***************************  1st screen start   ********************* */


.first{
background-color: #000000;
height: 100vh;
width: 100vw;
}
.nav{
    padding-top: 30px;
    background-color: #000000;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
   
}
.logo1{
   margin-top: 0px;
   margin-right: 100px;
}
.nav ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}
.nav ul li{
    list-style: none;
    margin-left: 60px;
    text-decoration: underline;
     }
 .nav ul li a{
    padding: 5px 10px;
   font-size: 1rem;
   color: rgb(255, 255, 255);
   display: inline-block;
   font-weight: 400;
   padding-left: 11px;
   text-decoration: none; 
 } 
 .nav ul li :hover{
     color: #8250db;
     font-size: 1.02rem;
 }     
.pricing{
    padding: 0 13px 6px 13px ;
    color: rgb(255, 255, 255);
    width: 70px;
    height: 20px;
    border: 3px solid #8250db;
    border-radius: 60px;
    margin-right: 90px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.pricing a{
    color: #ffffff;
    text-decoration: none;
}

.card{
    right: 400px;
    top: 150px;
        width: 300px;
    height: 100px;
        position: absolute;
    }
    .card video{
       margin-top: -700px;
       margin-left: 75px;
    padding-bottom: 130px;
    position: relative;
    }
    .main{
        height:500px ;
        width: 100vw;
        background: black;
        display: flex;

    }
    .content1{
        margin-left: 150px;
        padding-top: 150px;
            color: aliceblue;
            
        }
        .content1 h1{
        
           font-size: 4rem;
           font-weight: 700;
           font-family: 'Montserrat', sans-serif;
        }
        .content1 h1 span{
            background-image: linear-gradient(to right top, #b697e7, #8946df, #943fe4, #9f32e7, #aa1de9);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          font-family: 'Quicksand', sans-serif;
          
        }
        .content1 h3{
            letter-spacing: 3px;
           font-size: 15px;
           font-weight: 700;
         
        }

      .ebox input{
        margin-top: 30px;
        font-size: 18px;
        color: #8250db;
        padding: 15px 45px;
        outline: none;
        border: none;
        background-color: azure;
        border-radius: 5px;

      }
      .ebox button{
        font-size: 18px;
        color: #ffffff;
        padding: 15px 15px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(to right top, #8a58e5, #894bdd, #883ed5, #882dcd, #8717c4);

      }
      .ebox button:hover{
     
        background-image: linear-gradient(to right top, #ff0000, #ff0303, #ff0505, #ff0808, #ff0b0b);

      }









/* ***************************  1st screen end   *****************/





.body1{
  background-color: rgb(0, 0, 0);
  
  
 
}
.content2{

  font-size: 3.1rem;
  font-weight: 600;
  color: #ffffff;
  margin-left: 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-image: linear-gradient(to bottom, #000000, #351325, #5e1c52, #7c3090, #8250db);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: black;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}

.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -16px;
}


.content {
  padding: 20px 30px;
  background-image: linear-gradient(to right top, #8250db, #8646d9, #8a39d6, #8e2ad2, #9311ce);
  position: relative;
  border-radius: 6px;
  color:white;
  letter-spacing:3px;
  
  
 }
 .content h2{
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  
 }


@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }


  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }


  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
    left: 15px;
  }


  .right {
    left: 0%;
  }
}










#addBtn{
left:10px ;
top: 40px;
background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e7e7e7, #d0d0d0, #b9b9b9, #878787, #585858, #2e2e2e, #000000);
color: rgb(0, 0, 0);
padding: 10px;
border: 0;
outline: 0;
border-radius: 2px;
font-size: larger;
display: flex;
flex-direction: column;
justify-content: center;
}
#addBtn i{
font-size: 30px;
color: rgb(0, 0, 0);
font-weight: 700;
border: 2px dashed rgb(0, 0, 0);
border-radius: 50%;
padding: 10px;
margin-left:25px;
margin-bottom: 5px;
}



#todo{
 width: 100%;
 min-height: 100vh;
 background-color: #8250db;
 display: flex;
 flex-wrap:wrap;
}

.note{
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 4px;
    
}
.tool{
    width: 50%;
    height: 40px;
    background-color: #8250db;
    color: white;
    padding: 5px;
   position: relative;
   display: flex;
   justify-content: space-evenly;
   border-radius: 0 0 4px 0;
}
.tool i{
 padding: 10px;
 cursor: pointer;
 font-size: 25px;
 color: #ffffff;
}
.note textarea{
 border: none;
 width: 380px;
 height: 90px;
 resize: none;
 padding: 10px;
 font-size: medium;
 color: gray;
}

.note textarea:focus{
 border: 0;
 outline: none;
}











.body3{
 width: 100vw;
 height: 100vh;
 background-color: #000000;

}

.container4{
    width: 60%;
    min-width: 450px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    background: white;
    border-radius: 10px;
}

#newtask{
    position: relative;
    padding: 30px 20px 70px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 65px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    font-size: 2.3rem;
    background-image: linear-gradient(to right top, #8250db, #8646d9, #8a39d6, #8e2ad2, #9311ce);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    padding-left: 4px;

}
#tasks{
    background-color: #ffffff;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
    width: 75%;
    position: relative;
}
.task{
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #0a2ea4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}

.content4{
  align-items: center;
  padding-top: 100px;
  margin-left: 20%;
  margin-bottom: 0;
}




.content4 h2{
   padding-bottom: 30px;
   font-size: 4rem;
   color: #ffffff;
 
} 
















/* ******************************qoute start ******************* */
.qoutebox{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
background-image: linear-gradient(to bottom, #ffffff, #ffffff, #741458, #000000, #000000);
}
.qoutebox video{
width: 100vw;
height: 100vh;
object-fit: cover;
opacity: 70%;
}

.qoute {
 height: 60px;
 width: 1000px;
 background-color: black;
 padding: 40px;
position: absolute;

}
.qoute p{
color: aliceblue;
text-align: center;
font-weight: 500;
font-size: larger;
font-style: italic;
}
/* ******************************qoute end******************* */